@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: var(--font-sans);
}
.css-1kbqedj{
  border-radius: 0px!important;
}
@layer utilities {
  /* Hide scrollbar for Chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
 /* Hide scrollbar for IE, Edge and Firefox */
  .no-scrollbar {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}
}
.enable-2fa svg{
  margin: 0px auto;
}
